@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}
<section id="main">
    <div class="container">
        <div class="autoPlay mainRow row owl-carousel owl-theme">
            <div class="col-12 item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-1">
                            <h3 class="h3Rotate">
                                Best eCommerce Online Shop
                            </h3>
                        </div>
                        <div class="col-11">
                            <h3 class="h3Normal">WINKEL ECOMMERCE SHOP</h3>
                            <hr />
                            <h1>A Thouroughly <span>Modern</span> Woman</h1>
                            <p>
                                A small river named Duden flows by their place and supplies
                                it with the necessary regelialia. It is a paradisematic
                                country.
                            </p>
                            <button class="mainButton"><a href="#">Shop Now</a></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../IMG/img1.webp" alt="girl-white-dress" />
                    </div>
                </div>
            </div>
            <div class="col-12 item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-1">
                            <h3 class="h3Rotate">Winkel eCommerce Shop</h3>
                        </div>
                        <div class="col-11">
                            <h3 class="h3Normal">Stablished Since 2000</h3>
                            <hr />
                            <h1>Catch Your Own <br /><span>Stylish &amp; Look</span></h1>
                            <p>
                                A small river named Duden flows by their place and supplies
                                it with the necessary regelialia. It is a paradisematic
                                country.
                            </p>
                            <button class="mainButton">
                                <a href="#">Discover Now</a>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <img src="../IMG/img2.webp" alt="boy-jeans-cot" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="secondary">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 mt-5 mb-5">
                <div class="videoWrapper">
                    <img src="../IMG/img3.webp" alt="video-img" />
                    <button class="mainButton">
                        <a href="https://vimeo.com/45830194">
                            <i class="far fa-play-circle"></i>
                        </a>
                    </button>
                    <video src="https://vimeo.com/45830194"></video>
                </div>
            </div>
            <div class="col-md-7 mt-5 mb-5">
                <h2 class="mt-m mb-5">Better Way to Ship Your Products</h2>
                <p>
                    But nothing the copy said could convince her and so it didn’t take
                    long until a few insidious Copy Writers ambushed her, made her
                    drunk with Longe and Parole and dragged her into their agency,
                    where they abused her for their.
                </p>
                <div class="row">
                    <div class="col-md-4 mt-5 mb-5">
                        <i class="fas fa-tablet-alt"></i>
                        <h3 class="h3Normal mt-5">REFUND POLISY</h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind
                            texts it is an almost unorthographic.
                        </p>
                    </div>
                    <div class="col-md-4 mt-5 mb-5">
                        <i class="fas fa-tablet-alt"></i>
                        <h3 class="h3Normal mt-5">PREMIUM PACKAGING</h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind
                            texts it is an almost unorthographic.
                        </p>
                    </div>
                    <div class="col-md-4 mt-5 mb-5">
                        <i class="fas fa-tablet-alt"></i>
                        <h3 class="h3Normal mt-5">SUPERIOR QUALITY</h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind
                            texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="bestSeller">
    <div class="container">
        <h2 class="mb-5">Best Sellers</h2>
        <p class="mb-5">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="imgWrapper">
                            <img src="../IMG/img4.webp" alt="" />
                            <div class="layer">
                                <div class="btns">
                                    <a href="#">
                                        <button class="blackButton">
                                            ADD TO CART<i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button class="whiteButton">
                                            BUY NOW<i class="fas fa-cart-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="h3Normal">FLORAL JACKQUARD PULLOVER</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="mainCartPrices">
                            <span><span class="txt-d">120,00$</span>80,00$</span><span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12 ">
                        <div class="imgWrapper">
                            <img src="../IMG/img5.webp" alt="" />
                            <div class="layer">
                                <div class="btns">
                                    <a href="#">
                                        <button class="blackButton">
                                            ADD TO CART<i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button class="whiteButton">
                                            BUY NOW<i class="fas fa-cart-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="h3Normal">FLORAL JACKQUARD PULLOVER</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="mainCartPrices">
                            <span>120,00$</span><span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="imgWrapper">
                            <img src="../IMG/img1.webp" alt="" />
                            <div class="layer">
                                <div class="btns">
                                    <a href="#">
                                        <button class="blackButton">
                                            ADD TO CART<i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button class="whiteButton">
                                            BUY NOW<i class="fas fa-cart-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="h3Normal">FLORAL JACKQUARD PULLOVER</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="mainCartPrices">
                            <span>120,00$</span><span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="imgWrapper">
                            <img src="../IMG/img6.webp" alt="" />
                            <div class="layer">
                                <div class="btns">
                                    <a href="#">
                                        <button class="blackButton">
                                            ADD TO CART<i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button class="whiteButton">
                                            BUY NOW<i class="fas fa-cart-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="h3Normal">FLORAL JACKQUARD PULLOVER</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="mainCartPrices">
                            <span>120,00$</span><span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5" id="collection">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img src="../IMG/img7.jpg" alt="" />
            </div>
            <div class="col-inner">
                <h2>
                    NEW WOMEN'S CLOTHING SUMMER COLLECTION 2019
                </h2>
                <p>
                    NEW WOMEN'S CLOTHING SUMMER COLLECTION 2019 Far far away, behind
                    the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in
                    Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.
                </p>
                <a href="#"><button class="mainButton">SHOP NOW</button></a>
            </div>
            <div class="col-7">
                <h2 class="mt-5">
                    NEW MEN'S CLOTHING SUMMER COLLECTION 2019
                </h2>
                <p>
                    Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts. Separated
                    they live in Bookmarksgrove right at the coast of the Semantics, a
                    large language ocean.
                </p>
                <a href="#"><button class="secondary-button">SHOP NOW</button></a>
            </div>
            <div class="col-5">
                <img src="../IMG/img2.webp" alt="" />
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
        @foreach (var item in Model.Product)
        {
            <h2 class="mt-5">@item.Header</h2>
            <p class="mb-5">
                @item.Description
            </p>
        }
        <div class="row">
            @foreach (var item in Model.ProductItems)
            {
                <div class="col-md-3">
                    <div class="row ">
                        <div class="col-12">
                            <div class="imgWrapper">
                                <img src="../IMG/@item.Image" alt="@item.ImageAlt" />
                                <div class="layer">
                                    <div class="btns">
                                        <a href="#">
                                            <button class="blackButton">
                                                ADD TO CART<i class="fas fa-plus"></i>
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button class="whiteButton">
                                                BUY NOW<i class="fas fa-cart-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <h3 class="h3Normal">@item.Name</h3>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="mainCartPrices">
                                <span>
                                    @if (item.HasDiscount)
                                    {
                                        <span>@item.DiscountPrice</span>
                                        <span class="txt-d">@item.Price</span>
                                    }
                                    else
                                    {
                                        <span>@item.Price</span>
                                    }

                                    <span>
                                        @for (int i = 0; i < Int32.Parse(item.Rating); i++)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                        @for (int i = 0; i < 5 - Int32.Parse(item.Rating); i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<section class="mt-5 mb-5" id="statistic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <div class="spanWrapper">
                            <span class="happyClient bold">10,000</span><span>HAPPY CLIENT</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="spanWrapper">
                            <span class="branches bold">100</span><span>BRANCHES</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="spanWrapper">
                            <span class="partiner bold">1,000</span><span>PARTNER</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="spanWrapper">
                            <span class="awards bold">100</span><span>AWARDS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model.CustomerComment)
                {
                    <h2>@item.Header</h2>
                    <p class="mb-5 mt-5">
                        @item.Content
                    </p>
                }
                <div class="loop owl-carousel owl-theme">
                    @foreach (var item in Model.CustomerCommentItems)
                    {
                        <div class="item">
                            <div class="imgWrapper">
                                <img src="@item.Image" alt="@item.ImageAlt" /><span>
                                    <i class="fas fa-quote-left"></i>
                                </span>
                            </div>
                            <p class="mb-5 mt-5">
                                @item.Comment
                            </p>
                            <h4>@item.Name</h4>
                            <h4 class="unBold">@item.Speciality</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>